@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Support";
}


<div class="site">
    <div class="row">
        <div class="col-sm-12">
            <header class="header-landmark">
                <div class="max">
                    <h2>Support Us</h2>
                </div>
            </header>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="max border-bottom">
                <h5 style="text-align: center;">“Finally, dear brothers and sisters, we ask you to pray for us. Pray that the Lord’s message will spread rapidly and be honored wherever it goes, just as when it came to you.” (2 Thessalonians 3:1, NLT)</h5>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="max row">
                <div class="col-sm-6 pl0 text-support">
                    
                        <h6 class="text-uppercase">prayer support</h6>
                        <p><span style="color: #000000;">Prayers can move mountains.&nbsp; In addition to the many reasons for praise, the cross-cultural mission field can incite feelings of displacement, disconnection, distraction, abandonment, and disappointment (amongst others).&nbsp; Prayers of praise and supplication are by far the best support for a cross-cultural worker!&nbsp; If prayers and God’s will are in place, not only will hearts be uplifted and God be glorified, but finances will also be provided.&nbsp;</span></p>
                        <h6 class="text-uppercase">financial support</h6>
                        <p><span style="color: #000000;">You may choose to give a one-time gift or a monthly promise.&nbsp; Below are links to help. &nbsp;One-time gifts help us to get started- training, airfare, household furnishings, etc. Recurring monthly support covers&nbsp;all ongoing costs of ministry and life in the missions field.</span></p>
                        <p>&nbsp;</p>
                        <hr>
                        <h5 style="text-align: center;"><span style="color: #000000;">“Now all glory to God, who is able, through his mighty power at work within us, to accomplish infinitely more than we might ask or think.” (Ephesians 3:30, NLT)</span></h5>
                        <hr>
                        <h5 style="text-align: center;"></h5>
                    
                </div>
                <div class="col-sm-6 pr0">
                    <img class="x-img" src="~/Content/images/Scale-52.png" />
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="max row">
                <div class="col-sm-12 border-1">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="btngrey-container">
                                <a class="btn-grey" href="https://donate.cvmusa.org/wensel" title="" target="_self">Donate Online</a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="btngrey-container">
                                <a class="btn-grey" href="http://www.willingtojoin.org/wp-content/uploads/2015/12/FinancialSupportForm.pdf" title="" target="_blank">Donate by Mail</a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="btngrey-container">
                                <a class="btn-grey" href="http://www.willingtojoin.org/contact-us/" title="" target="_self">Become a Prayer Partner</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>