<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT pageNotFound ANY>
<!ATTLIST pageNotFound id ID #REQUIRED>
<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
<!ELEMENT aboutUsItem ANY>
<!ATTLIST aboutUsItem id ID #REQUIRED>
<!ELEMENT account ANY>
<!ATTLIST account id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT contactUs ANY>
<!ATTLIST contactUs id ID #REQUIRED>
<!ELEMENT cRM ANY>
<!ATTLIST cRM id ID #REQUIRED>
<!ELEMENT error ANY>
<!ATTLIST error id ID #REQUIRED>
<!ELEMENT errors ANY>
<!ATTLIST errors id ID #REQUIRED>
<!ELEMENT forgotPassword ANY>
<!ATTLIST forgotPassword id ID #REQUIRED>
<!ELEMENT galleries ANY>
<!ATTLIST galleries id ID #REQUIRED>
<!ELEMENT gallery ANY>
<!ATTLIST gallery id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT household ANY>
<!ATTLIST household id ID #REQUIRED>
<!ELEMENT layout ANY>
<!ATTLIST layout id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT loginPage ANY>
<!ATTLIST loginPage id ID #REQUIRED>
<!ELEMENT manageAccount ANY>
<!ATTLIST manageAccount id ID #REQUIRED>
<!ELEMENT register ANY>
<!ATTLIST register id ID #REQUIRED>
<!ELEMENT resetPassword ANY>
<!ATTLIST resetPassword id ID #REQUIRED>
<!ELEMENT siteData ANY>
<!ATTLIST siteData id ID #REQUIRED>
<!ELEMENT slide ANY>
<!ATTLIST slide id ID #REQUIRED>
<!ELEMENT slider ANY>
<!ATTLIST slider id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>

]>
<root id="-1">
  <home id="1052" key="46c71b7d-bd07-4aab-b0db-65daa64a6da1" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-05-25T13:04:13" updateDate="2016-06-28T06:34:41" nodeName="Home" urlName="home" path="-1,1052" isDoc="" nodeType="1048" creatorName="admin" writerName="admin" writerID="0" template="1047" nodeTypeAlias="home">
    <seoDescription><![CDATA[The Wensel Family on Mission]]></seoDescription>
    <seoTitle><![CDATA[Willing to Join]]></seoTitle>
    <sliderImages><![CDATA[1410,1402,1403,1404,1405,1406,1407,1408,1409]]></sliderImages>
    <rightColumn><![CDATA[<p><iframe src="https://player.vimeo.com/video/109136220?title=0&amp;byline=0&amp;portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe></p>
<p>Church Planter Training from <a href="https://vimeo.com/user30584060">Willing To Join</a> on <a href="https://vimeo.com">Vimeo</a>.</p>]]></rightColumn>
    <bottomPart><![CDATA[<div><a href="http://www.cvmusa.org" title="" class="x-img x-img-link x-img-rounded left" data-x-element="extra" data-x-params="{&quot;type&quot;:&quot;popover&quot;,&quot;trigger&quot;:&quot;hover&quot;,&quot;placement&quot;:&quot;top&quot;,&quot;title&quot;:&quot;&quot;,&quot;content&quot;:&quot;Christian Veterinary Mission&quot;}" data-options="thumbnail: '/media/1055/image001.png'" data-original-title=""><img src="/media/1055/image001.png" alt="" /></a><a href="http://www.cmfi.org" title="" class="x-img x-img-link x-img-rounded right" data-x-element="extra" data-x-params="{&quot;type&quot;:&quot;popover&quot;,&quot;trigger&quot;:&quot;hover&quot;,&quot;placement&quot;:&quot;top&quot;,&quot;title&quot;:&quot;&quot;,&quot;content&quot;:&quot;&quot;}" data-options="thumbnail: '/media/1037/cmflogo-100x48.png'" data-original-title="Christian Missionary Fellowship"><img src="/media/1037/cmflogo-100x48.png" alt="" /></a></div>]]></bottomPart>
    <social><![CDATA[<p><a href="https://www.facebook.com/Willing-to-Join-Wensel-Family-564339736992329/" target="_blank" title="Facebook" class="facebook"><span class="x-icon-facebook-square" data-x-icon=""><span>facebook</span></span></a></p>]]></social>
    <pageSubHeading><![CDATA[<p> “And this is love: that we walk in obedience to his commands. As you have heard from the beginning, his command is that you walk in love.” (2 John 1:6, NIV)</p>]]></pageSubHeading>
    <leftColumn><![CDATA[<p><span style="color: #000000;">We are following a call to serve in Tanzania. Our goal is to share Christ’s love in a holistic manner, serving the spiritual, physical, emotional and social needs of the Tanzanian people. We will focus on church planter training and training local animal health care workers to improve the health of their livestock. </span></p>
<p><span style="color: #000000;"> </span></p>
<p><img style="width: 500px; height: 329px;" src="/media/1003/50for50counter-2-50.png?width=500&amp;height=329" alt="" rel="1057" data-id="1057" /></p>
<div class="vc_btn3-container vc_btn3-inline"><button class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-3d vc_btn3-color-turquoise">What is 50 - 50? Click here for more info!</button></div>]]></leftColumn>
    <longitude><![CDATA[36.6975798]]></longitude>
    <zoom>3</zoom>
    <drag><![CDATA[true]]></drag>
    <zoomControl><![CDATA[true]]></zoomControl>
    <lattitude><![CDATA[-3.3681648]]></lattitude>
    <textPage id="1425" key="6f80ba44-91b6-4895-beeb-ff13befce625" parentID="1052" level="2" creatorID="0" sortOrder="0" createDate="2016-05-31T13:42:07" updateDate="2016-06-28T06:34:41" nodeName="Church Planting" urlName="church-planting" path="-1,1052,1425" isDoc="" nodeType="1423" creatorName="admin" writerName="admin" writerID="0" template="1424" nodeTypeAlias="textPage">
      <seoDescription><![CDATA[The Wensel Family on Mission]]></seoDescription>
      <seoTitle><![CDATA[Church Planting]]></seoTitle>
      <bottomPart><![CDATA[<div class="x-column x-sm vc x-1-2"><img id="CMF" class="x-img x-img-rounded none" src="http://www.willingtojoin.org/wp-content/uploads/2015/12/cmflogo-100x48.png" alt="" /><a id="CMF" href="http://www.cmfi.org/wherewework/tanzania/" target="_blank" title="" class="x-btn x-btn-pill x-btn-mini x-btn-icon-only" data-x-element="extra" data-x-params="{&quot;type&quot;:&quot;popover&quot;,&quot;trigger&quot;:&quot;hover&quot;,&quot;placement&quot;:&quot;top&quot;,&quot;title&quot;:&quot;&quot;,&quot;content&quot;:&quot;&quot;}" data-options="thumbnail: ''" data-original-title="Christian Missionary Fellowship link">Read more about our CMF Team in Arusha, Tanzania.</a></div>
<div class="x-column x-sm vc x-1-2"></div>]]></bottomPart>
      <rightColumn><![CDATA[<p><iframe src="https://player.vimeo.com/video/109136220?title=0&amp;byline=0&amp;portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe></p>
<p>Church Planter Training from <a href="https://vimeo.com/user30584060">Willing To Join</a> on <a href="https://vimeo.com">Vimeo</a>.</p>]]></rightColumn>
      <pageSubHeading><![CDATA[<p style="text-align: center;">Then Jesus came to them and said, “All authority in heaven and on earth has been given to me. Therefore go and make disciples of all nations,baptizing them in the name of the Father and of the Son and of the Holy Spirit, and teaching them to obey everything I have commanded you. And surely I am with you always, to the very end of the ages.” <br /> (Matthew 28:18-20, NIV)</p>]]></pageSubHeading>
      <leftColumn><![CDATA[<div class="rightDiv"><img style="width: 255px; height: 255px;" src="/media/1035/churchplanting-255x255.png?width=255&amp;height=255" alt="" rel="1089" data-id="1089" /></div>
<div id="idTextPanel" class="jqDnR">
<p><strong><span style="color: #000000;">What we do…</span></strong></p>
<p><em><span style="color: #000000;">Share Christ’s love through multiplying church movements</span></em></p>
<p><span style="color: #000000;">We will be working with a Christian Missionary Fellowship (CMF) church planter training team in Arusha, Tanzania. They train Tanzanian Christian nationals to plant churches and start multiplying church movements within unreached people groups. They implement self-sustainable methods to promote knowledge of Christ’s love and discipleship.</span></p>
</div>]]></leftColumn>
    </textPage>
    <textPage id="1426" key="c30fc04b-66a2-40ad-a9b4-690887752a56" parentID="1052" level="2" creatorID="0" sortOrder="1" createDate="2016-05-31T14:47:52" updateDate="2016-06-28T06:34:41" nodeName="Animal Health Care" urlName="animal-health-care" path="-1,1052,1426" isDoc="" nodeType="1423" creatorName="admin" writerName="admin" writerID="0" template="1424" nodeTypeAlias="textPage">
      <seoDescription><![CDATA[The Wensel Family on Mission]]></seoDescription>
      <seoTitle><![CDATA[Animal Health Care]]></seoTitle>
      <bottomPart><![CDATA[<div class="x-column x-sm vc x-1-1"><img class="x-img x-img-rounded none" src="http://www.willingtojoin.org/wp-content/uploads/2015/12/image001.png" alt="" /><a id="CVM" href="http://cvmusa.org/serve/long-term/current-field-staff/wensel/" target="_blank" title="" class="x-btn x-btn-pill x-btn-mini x-btn-icon-only" data-x-element="extra" data-x-params="{&quot;type&quot;:&quot;popover&quot;,&quot;trigger&quot;:&quot;hover&quot;,&quot;placement&quot;:&quot;top&quot;,&quot;title&quot;:&quot;&quot;,&quot;content&quot;:&quot;&quot;}" data-options="thumbnail: ''" data-original-title="Christian Veterinary Mission link">Read more about Christian Veterinary Mission</a></div>]]></bottomPart>
      <rightColumn><![CDATA[<p><iframe src="https://player.vimeo.com/video/109399266?title=0&amp;byline=0&amp;portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe></p>
<p>Why Vets from <a href="https://vimeo.com/user30584060">Willing To Join</a> on <a href="https://vimeo.com">Vimeo</a>.</p>]]></rightColumn>
      <pageSubHeading><![CDATA[<p style="text-align: center;">"Come to Me, all you who labor and are heavy laden, and I will give you rest. Take My yoke upon you and learn from Me, for I am gentle and lowly in heart, and you will find rest for your souls. For My yoke is easy and My burden is light." <br />(Matthew 11:28-30, NIV)</p>]]></pageSubHeading>
      <leftColumn><![CDATA[<div class="rightDiv"><img style="width: 255px; height: 255px;" src="/media/1008/animalhealthcare-255x255.png?width=255&amp;height=255" alt="" rel="1062" data-id="1062" />
<div id="idTextPanel" class="jqDnR">
<p><span style="color: #000000;"><strong>What we do…</strong></span></p>
<p><span style="color: #000000;"><em>Establish sustainable CAHW training</em></span></p>
<p><span style="color: #000000;">Community Animal Health Workers (CAHW) will be trained and discipled. National church planters will have the additional skills of increasing herd health as a way of ministering to and reaching the unreached for the glory of God. Current CHE teams will be trained in herd health to expand their current ministries to reach the unreached for the glory of God. New churches will be planted and believers disciple.  These will then train others to do the same in surrounding areas.</span></p>
<p><span style="color: #000000;"><em>Improve livestock health</em></span></p>
<p><span style="color: #000000;">By giving herdspeople the skills and knowledge needed to improve the overall health of their herds, we intend to minister in a holistic manner.  The animals will be healthier, thus improving the physical and economic health of the families.  The church planters will have additional openings into the lives of the unreached people, giving them additional opportunities to impact their spiritual health.  </span></p>
</div>
</div>]]></leftColumn>
    </textPage>
    <textPage id="1427" key="172ff948-9d4a-4b8d-b6aa-7f2e8eb0a185" parentID="1052" level="2" creatorID="0" sortOrder="2" createDate="2016-05-31T15:01:52" updateDate="2016-06-28T06:34:41" nodeName="Support Us" urlName="support-us" path="-1,1052,1427" isDoc="" nodeType="1423" creatorName="admin" writerName="admin" writerID="0" template="1424" nodeTypeAlias="textPage">
      <seoDescription><![CDATA[The Wensel Family on Mission]]></seoDescription>
      <seoTitle><![CDATA[Support Us]]></seoTitle>
      <bottomPart><![CDATA[<div class="x-column x-sm vc x-1-3">
<div class="vc_btn3-container vc_btn3-center"><a href="https://donate.cvmusa.org/wensel" target="_self" title="" class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-3d vc_btn3-block vc_btn3-color-grey">Donate Online</a></div>
</div>
<div class="x-column x-sm vc x-1-3">
<div class="vc_btn3-container vc_btn3-center"><a href="http://www.willingtojoin.org/wp-content/uploads/2015/12/FinancialSupportForm.pdf" target="_blank" title="" class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-3d vc_btn3-block vc_btn3-color-grey">Donate by Mail</a></div>
</div>
<div class="x-column x-sm vc x-1-3">
<div class="vc_btn3-container vc_btn3-center"><a href="http://www.willingtojoin.org/contact-us/" target="_self" title="" class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-3d vc_btn3-block vc_btn3-color-grey">Become a Prayer Partner</a></div>
</div>]]></bottomPart>
      <rightColumn><![CDATA[<p><img style="width: 453.66972477064223px; height:500px;" src="/media/1063/scale-52.png?width=453.66972477064223&amp;height=500" alt="" rel="1117" data-id="1117" /></p>]]></rightColumn>
      <pageSubHeading><![CDATA[<p>"Finally, dear brothers and sisters, we ask you to pray for us. Pray that the Lord’s message will spread rapidly and be honored wherever it goes, just as when it came to you." (2 Thessalonians 3:1, NLT)</p>]]></pageSubHeading>
      <leftColumn><![CDATA[<h6>prayer support</h6>
<p><span style="color: #000000;">Prayers can move mountains.  In addition to the many reasons for praise, the cross-cultural mission field can incite feelings of displacement, disconnection, distraction, abandonment, and disappointment (amongst others).  Prayers of praise and supplication are by far the best support for a cross-cultural worker!  If prayers and God’s will are in place, not only will hearts be uplifted and God be glorified, but finances will also be provided. </span></p>
<h6>financial support</h6>
<p><span style="color: #000000;">You may choose to give a one-time gift or a monthly promise.  Below are links to help.  One-time gifts help us to get started- training, airfare, household furnishings, etc. Recurring monthly support covers all ongoing costs of ministry and life in the missions field.</span></p>
<p> </p>
<hr />
<h5 style="text-align: center;"><span style="color: #000000;">“Now all glory to God, who is able, through his mighty power at work within us, to accomplish infinitely more than we might ask or think.” (Ephesians 3:30, NLT)</span></h5>
<hr />]]></leftColumn>
    </textPage>
    <textPage id="1428" key="ade1adb3-5ee3-4dd5-be45-1d3ce5081ced" parentID="1052" level="2" creatorID="0" sortOrder="3" createDate="2016-05-31T15:08:25" updateDate="2016-06-28T06:34:41" nodeName="50-50" urlName="50-50" path="-1,1052,1428" isDoc="" nodeType="1423" creatorName="admin" writerName="admin" writerID="0" template="1424" nodeTypeAlias="textPage">
      <seoDescription><![CDATA[The Wensel Family on Mission]]></seoDescription>
      <seoTitle><![CDATA[50-50]]></seoTitle>
      <bottomPart><![CDATA[<div class="x-column x-sm vc x-1-2">
<div class="vc_btn3-container vc_btn3-inline"><a href="http://www.willingtojoin.org/support-us/" target="_self" title="" class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-3d vc_btn3-color-grey">Sponsor a Missionary - Click Here!</a></div>
</div>
<div class="x-column x-sm vc x-1-2"></div>]]></bottomPart>
      <rightColumn><![CDATA[<p><img class="x-img" src="http://www.willingtojoin.org/wp-content/uploads/2016/01/Logo50for50-500x329.png" alt="" /></p>]]></rightColumn>
      <leftColumn><![CDATA[<h2>What is 50-50</h2>
<h5>Starting February 1st, we are making the final push to get us to Tanzania</h5>
<h3>50 for 50</h3>
<h4>We need 50 new supporters at $50/month</h4>
<p> </p>]]></leftColumn>
    </textPage>
    <aboutUs id="1432" key="65042273-b2e8-4d1d-a0f9-618e72a625b0" parentID="1052" level="2" creatorID="0" sortOrder="4" createDate="2016-05-31T16:53:35" updateDate="2016-06-28T06:34:41" nodeName="About Us" urlName="about-us" path="-1,1052,1432" isDoc="" nodeType="1430" creatorName="admin" writerName="admin" writerID="0" template="1429" nodeTypeAlias="aboutUs">
      <seoDescription><![CDATA[The Wensel Family on Mission]]></seoDescription>
      <seoTitle><![CDATA[About Us]]></seoTitle>
      <pageSubHeading><![CDATA[<p>"For I know the plans I have for you,” declares the Lord, “plans to prosper you and not to harm you, plans to give you hope and a future." (Jeremiah 29:11, NIV)</p>]]></pageSubHeading>
      <bodyText><![CDATA[<p> </p>
<div class="x-content-band vc border-bottom about-item">
<div class="x-container wpb_row">
<div class="x-column x-sm vc x-1-2"><img class="x-img" src="/media/1048/gavinheadshot.png" alt="" /></div>
<div class="x-column x-sm vc x-1-2">
<div id="idTextPanel" class="jqDnR">
<p><strong><span style="color: #000000;">GAVIN:</span></strong></p>
<p><span style="color: #000000;">Lover of snuggling, exploring, building, Legos and MineCraft.  This perceptive little man has a passion for creating and exploring.  He has an independent nature and is able to amuse himself for hours on end, although he prefers the companionship of family and friends.  Gavin’s tender heart breaks for people who are less fortunate than he.</span></p>
</div>
</div>
</div>
</div>
<div class="x-content-band vc border-bottom about-item">
<div class="x-container wpb_row">
<div class="x-column x-sm vc x-1-2"><img class="x-img" src="/media/1062/sannaheadshot.png" alt="" /></div>
<div class="x-column x-sm vc x-1-2">
<div id="idTextPanel" class="jqDnR">
<p><strong><span style="color: #000000;">SANNA:</span></strong></p>
<p><span style="color: #000000;">Enjoyer of all that life has to offer.  This easy-going young lady has never once complained about any trip or errand; every moment has potential beauty in her eyes!  She has a creative, gentle, and generous nature.  She is just as content reading a book as she is taking a trip with relative strangers!  Sanna’s sweet personality is sensitive toward the sufferings of others.</span></p>
</div>
</div>
</div>
</div>
<div class="x-content-band vc border-bottom about-item">
<div class="x-container wpb_row">
<div class="x-column x-sm vc x-1-2"><img class="x-img" src="/media/1057/lenaheadshot.png" alt="" /></div>
<div class="x-column x-sm vc x-1-2">
<div id="idTextPanel" class="jqDnR">
<p><strong><span style="color: #000000;">LENA:</span></strong></p>
<p><span style="color: #000000;">Supporter of husband, family, and friends.  Lena is blessed with a life that easily blends God, family, and her love for the veterinary profession.  She is the introverted stabilizing force in the family (read about Patrick next, and you’ll see why they make a great couple!), and to relax she enjoys riding horses, creating pottery, reading, and being outdoors.  Since her first short-term mission trip to Kenya as a veterinary student, Lena has felt pulled to serve overseas.  She has seen the doors and hearts that can be opened to God’s message via veterinary medicine, and she feels blessed beyond words to be taking this skill to serve and show Christ to others in Africa.</span></p>
</div>
</div>
</div>
</div>
<div class="x-content-band vc border-bottom about-item">
<div class="x-container wpb_row">
<div class="x-column x-sm vc x-1-2"><img class="x-img" src="/media/1060/patrickheadshot.png" alt="" /></div>
<div class="x-column x-sm vc x-1-2">
<div id="idTextPanel" class="jqDnR">
<p><strong><span style="color: #000000;">PATRICK:</span></strong></p>
<p><span style="color: #000000;">Accomplisher of the seemingly impossible.  Lena’s husband and best friend is a reckoning force in everything he pursues…in their 13 years of marriage, he has been a Business Developer, Financial Manager, General Contractor/ small business owner, and (currently) Software Developer.  He leads with energy, passion, and talent, sharing God’s love with everyone he meets.  He enjoys woodworking, welding, fixer-upper projects, and spending time with his family.  Patrick has a very giving nature and has been known to bring home and house the homeless…literally at the Wensel homestead.  He is chomping at the bit to get to Tanzania, where opportunity abounds for his talents to shine in glorifying God. </span></p>
</div>
</div>
</div>
</div>]]></bodyText>
    </aboutUs>
    <galleries id="1442" key="9386159a-d3d5-4a36-8ce8-0c6f117bc235" parentID="1052" level="2" creatorID="0" sortOrder="5" createDate="2016-06-01T10:29:12" updateDate="2016-06-28T06:34:41" nodeName="Photo Galleries" urlName="photo-galleries" path="-1,1052,1442" isDoc="" nodeType="1440" creatorName="admin" writerName="admin" writerID="0" template="1438" nodeTypeAlias="galleries">
      <seoDescription><![CDATA[The Wensel Family on Mission]]></seoDescription>
      <seoTitle><![CDATA[Photo Galleries]]></seoTitle>
      <imagesPerPage>20</imagesPerPage>
      <pageSubHeading><![CDATA[<p>"How many are your works, Lord! In wisdom you made them all; the earth is full of your creatures. There is the sea, vast and spacious, teeming with creatures beyond number—living things both large and small." (Psalm 104:24-25, NIV)</p>]]></pageSubHeading>
      <gallery id="1465" key="2f9c4e1a-2672-4fad-b7fe-0d4905d56e58" parentID="1442" level="3" creatorID="0" sortOrder="1" createDate="2016-06-01T12:37:51" updateDate="2016-06-28T06:34:42" nodeName="Around Arusha" urlName="around-arusha" path="-1,1052,1442,1465" isDoc="" nodeType="1441" creatorName="admin" writerName="admin" writerID="0" template="1439" nodeTypeAlias="gallery">
        <images><![CDATA[1458,1459,1460,1463,1462,1461,1464]]></images>
      </gallery>
      <gallery id="1469" key="8aeb0dd8-e87c-4429-bd03-b947cbf9fb60" parentID="1442" level="3" creatorID="0" sortOrder="2" createDate="2016-06-01T12:39:21" updateDate="2016-06-28T06:34:42" nodeName="Landscape" urlName="landscape" path="-1,1052,1442,1469" isDoc="" nodeType="1441" creatorName="admin" writerName="admin" writerID="0" template="1439" nodeTypeAlias="gallery">
        <images><![CDATA[1467,1468,1470,1471,1472,1473,1475,1476,1478,1479,1480,1481,1483,1484,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499,1500,1501,1502,1503]]></images>
      </gallery>
      <gallery id="1474" key="f746ce3d-33bc-4a98-9c2e-f04c4a0bf489" parentID="1442" level="3" creatorID="0" sortOrder="3" createDate="2016-06-01T12:40:26" updateDate="2016-06-28T06:34:42" nodeName="Child Sponsorship and widows" urlName="child-sponsorship-and-widows" path="-1,1052,1442,1474" isDoc="" nodeType="1441" creatorName="admin" writerName="admin" writerID="0" template="1439" nodeTypeAlias="gallery">
        <images><![CDATA[1505,1506,1507,1508,1509,1510,1511,1512,1513,1514,1515,1516,1517,1518,1519,1520,1521,1522,1523,1524,1525,1526,1527,1528,1529,1530]]></images>
      </gallery>
      <gallery id="1477" key="32e5e100-2fd5-4312-aaee-f77a1253b55b" parentID="1442" level="3" creatorID="0" sortOrder="4" createDate="2016-06-01T12:41:07" updateDate="2016-06-28T06:34:42" nodeName="Wildlife" urlName="wildlife" path="-1,1052,1442,1477" isDoc="" nodeType="1441" creatorName="admin" writerName="admin" writerID="0" template="1439" nodeTypeAlias="gallery">
        <images><![CDATA[1532,1533,1534,1535,1536,1537,1540,1539,1538,1541,1542,1543,1544,1545,1546,1547,1548,1549,1550,1551,1552,1553,1554,1555]]></images>
      </gallery>
      <gallery id="1482" key="9733aabc-6238-4a0a-b3a6-1297afc2fb40" parentID="1442" level="3" creatorID="0" sortOrder="5" createDate="2016-06-01T12:42:16" updateDate="2016-06-28T06:34:42" nodeName="Domestic Animals" urlName="domestic-animals" path="-1,1052,1442,1482" isDoc="" nodeType="1441" creatorName="admin" writerName="admin" writerID="0" template="1439" nodeTypeAlias="gallery">
        <images><![CDATA[1557,1558,1559,1562,1561,1560,1563,1564,1565,1566,1567,1568,1569,1570,1571,1572,1573]]></images>
      </gallery>
      <gallery id="1485" key="31fbe85d-1c27-4f78-945d-e0ce703107cf" parentID="1442" level="3" creatorID="0" sortOrder="6" createDate="2016-06-01T12:42:59" updateDate="2016-06-28T06:34:42" nodeName="Training Center" urlName="training-center" path="-1,1052,1442,1485" isDoc="" nodeType="1441" creatorName="admin" writerName="admin" writerID="0" template="1439" nodeTypeAlias="gallery">
        <images><![CDATA[1575,1564,1576,1577,1578,1579,1580,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598]]></images>
      </gallery>
    </galleries>
    <contactUs id="1603" key="c813f078-8d8b-4c0e-b853-a1a4b423eef7" parentID="1052" level="2" creatorID="0" sortOrder="6" createDate="2016-06-02T12:15:45" updateDate="2016-06-28T06:34:41" nodeName="Contact Us" urlName="contact-us" path="-1,1052,1603" isDoc="" nodeType="1602" creatorName="admin" writerName="admin" writerID="0" template="1601" nodeTypeAlias="contactUs">
      <bodyText><![CDATA[<div class="x-column x-sm vc x-1-3">
<h4><strong>Mail Address:</strong></h4>
<p>2214 Pennington Rd</p>
<p>Bel Air, MD 21015</p>
<h4>Phone:</h4>
<p>Patrick: (410) 807-5418</p>
<p>Lena: (443) 798-5574</p>
<p> </p>
</div>
<div class="x-column x-sm vc x-1-3">
<h4>Email:</h4>
<p>Patrick: pwensel@hotmail.com</p>
<p>Lena: lbwensel@gmail.com</p>
<h4>FaceBook Link:</h4>
<p><a href="https://www.facebook.com/Willing-to-Join-Wensel-Family-564339736992329" target="_blank">Willing to Join</a></p>
</div>]]></bodyText>
      <lblEmail><![CDATA[Your Email (required)]]></lblEmail>
      <lblMessage><![CDATA[Your Message]]></lblMessage>
      <lblSubject><![CDATA[Subject]]></lblSubject>
      <lblContactType><![CDATA[Type of Contact ]]></lblContactType>
      <lblName><![CDATA[Your Name (required)]]></lblName>
      <ePassword><![CDATA[Lena1995]]></ePassword>
      <eFromEmail><![CDATA[postmaster@ppgservices.net]]></eFromEmail>
      <eHost><![CDATA[mail5006.smarterasp.net]]></eHost>
      <emailRecipient><![CDATA[postmaster@ppgservices.net]]></emailRecipient>
      <ePort><![CDATA[25]]></ePort>
      <eEnableSsl><![CDATA[false]]></eEnableSsl>
      <eUsername><![CDATA[postmaster@ppgservices.net]]></eUsername>
    </contactUs>
    <cRM id="1618" key="cb0a96b2-83e4-4330-9e1d-778b1d164382" parentID="1052" level="2" creatorID="0" sortOrder="7" createDate="2016-06-10T10:27:23" updateDate="2016-06-28T06:34:41" nodeName="CRM" urlName="crm" path="-1,1052,1618" isDoc="" nodeType="1610" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="cRM">
      <umbracoNaviHide>1</umbracoNaviHide>
      <contact id="1619" key="d1b38f17-2974-4b8d-bdcf-0017734bb733" parentID="1618" level="3" creatorID="0" sortOrder="0" createDate="2016-06-10T10:28:10" updateDate="2016-06-28T06:34:41" nodeName="Contact" urlName="contact" path="-1,1052,1618,1619" isDoc="" nodeType="1612" creatorName="admin" writerName="admin" writerID="0" template="1616" nodeTypeAlias="contact">
        <iconClass><![CDATA[fa fa-phone]]></iconClass>
        <umbracoNaviHide>0</umbracoNaviHide>
      </contact>
      <account id="1620" key="73b2fded-520e-4f18-b140-5a370c1df486" parentID="1618" level="3" creatorID="0" sortOrder="1" createDate="2016-06-12T22:15:22" updateDate="2016-06-28T06:34:42" nodeName="Account" urlName="account" path="-1,1052,1618,1620" isDoc="" nodeType="1611" creatorName="admin" writerName="admin" writerID="0" template="1615" nodeTypeAlias="account">
        <iconClass><![CDATA[fa fa-credit-card]]></iconClass>
        <umbracoNaviHide>0</umbracoNaviHide>
      </account>
      <household id="1622" key="467505f3-f2e0-4ec0-92e4-efac67df5361" parentID="1618" level="3" creatorID="0" sortOrder="2" createDate="2016-06-14T17:25:45" updateDate="2016-06-28T06:34:42" nodeName="Household" urlName="household" path="-1,1052,1618,1622" isDoc="" nodeType="1613" creatorName="admin" writerName="admin" writerID="0" template="1617" nodeTypeAlias="household">
        <iconClass><![CDATA[fa fa-home]]></iconClass>
        <umbracoNaviHide>0</umbracoNaviHide>
      </household>
      <register id="1641" key="d2f6867e-9c45-4a16-9806-87d3df693d7c" parentID="1618" level="3" creatorID="0" sortOrder="3" createDate="2016-06-16T11:13:33" updateDate="2016-06-28T06:34:42" nodeName="Register" urlName="register" path="-1,1052,1618,1641" isDoc="" nodeType="1640" creatorName="admin" writerName="admin" writerID="0" template="1637" nodeTypeAlias="register">
        <umbracoNaviHide>1</umbracoNaviHide>
        <validEmailFormatText><![CDATA[Email format is not valid]]></validEmailFormatText>
        <emailRequired><![CDATA[Enter Email]]></emailRequired>
        <confirmPasswordRequired><![CDATA[Confirm Password is required]]></confirmPasswordRequired>
        <firstNameRequired><![CDATA[Enter First Name]]></firstNameRequired>
        <passwordRequired><![CDATA[Password is required]]></passwordRequired>
        <lastNameRequired><![CDATA[Enter Last Name]]></lastNameRequired>
        <confirmPasswordLabel><![CDATA[Confirm Password ]]></confirmPasswordLabel>
        <submitButtonText><![CDATA[Register]]></submitButtonText>
        <firstNameLabel><![CDATA[First Name]]></firstNameLabel>
        <passwordLabel><![CDATA[Password]]></passwordLabel>
        <lastNameLabel><![CDATA[Last Name]]></lastNameLabel>
        <emailLabel><![CDATA[Email]]></emailLabel>
        <formHeadingText><![CDATA[<h4>Create a new account.</h4>]]></formHeadingText>
      </register>
      <login id="1651" key="b6e324de-a8e2-477f-84b5-fa5905ce0932" parentID="1618" level="3" creatorID="0" sortOrder="4" createDate="2016-06-16T15:05:55" updateDate="2016-06-28T06:34:42" nodeName="Login" urlName="login" path="-1,1052,1618,1651" isDoc="" nodeType="1639" creatorName="admin" writerName="admin" writerID="0" template="1637" nodeTypeAlias="login">
        <umbracoNaviHide>1</umbracoNaviHide>
        <formHeadingText><![CDATA[<h4>Welcome to Willing to Join App</h4>
<p>Use a local account to log in.</p>]]></formHeadingText>
        <forgotPasswordLinkText><![CDATA[Forgot Password]]></forgotPasswordLinkText>
        <registerLinkText><![CDATA[<p><a href="/crm/register">Register</a> if you don't have a local account.</p>]]></registerLinkText>
        <passwordRequired><![CDATA[Enter Password]]></passwordRequired>
        <notValidEmail><![CDATA[Email format is not valid]]></notValidEmail>
        <emailRequired><![CDATA[Enter Email]]></emailRequired>
        <invalidUsernameOrPassword><![CDATA[Invalid Username Or Password]]></invalidUsernameOrPassword>
        <usernameLabel><![CDATA[Email]]></usernameLabel>
        <submitButtonText><![CDATA[Log in]]></submitButtonText>
        <passwordLabel><![CDATA[Password]]></passwordLabel>
      </login>
      <forgotPassword id="1655" key="6a54b418-abc4-4e65-a7d7-b0b5e98ca010" parentID="1618" level="3" creatorID="0" sortOrder="5" createDate="2016-06-17T12:48:45" updateDate="2016-06-28T06:34:42" nodeName="Forgot Password" urlName="forgot-password" path="-1,1052,1618,1655" isDoc="" nodeType="1654" creatorName="admin" writerName="admin" writerID="0" template="1637" nodeTypeAlias="forgotPassword">
        <umbracoNaviHide>1</umbracoNaviHide>
        <emailRequired><![CDATA[Enter Email]]></emailRequired>
        <validEmailFormatText><![CDATA[Email Format is Not valid]]></validEmailFormatText>
        <emailLabel><![CDATA[Email]]></emailLabel>
        <submitButtonText><![CDATA[Submit]]></submitButtonText>
        <formHeadingText><![CDATA[<h4>Enter Your Email</h4>]]></formHeadingText>
      </forgotPassword>
      <resetPassword id="1658" key="5cce68f8-2155-461b-816c-4009156e4542" parentID="1618" level="3" creatorID="0" sortOrder="6" createDate="2016-06-17T18:28:33" updateDate="2016-06-28T06:34:42" nodeName="Reset Password" urlName="reset-password" path="-1,1052,1618,1658" isDoc="" nodeType="1657" creatorName="admin" writerName="admin" writerID="0" template="1637" nodeTypeAlias="resetPassword">
        <iconClass><![CDATA[fa fa-key]]></iconClass>
        <umbracoNaviHide>0</umbracoNaviHide>
        <newPasswordRequiredText><![CDATA[Enter Mew Password]]></newPasswordRequiredText>
        <oldPasswordRequired><![CDATA[Enter Current Password]]></oldPasswordRequired>
        <confirmNewPasswordRequiredText><![CDATA[Enter Confirm New Password]]></confirmNewPasswordRequiredText>
        <oldPasswordLabel><![CDATA[Current Password]]></oldPasswordLabel>
        <confirmNewPasswordLabel><![CDATA[Confirm New Password]]></confirmNewPasswordLabel>
        <newPasswordLabel><![CDATA[New Password]]></newPasswordLabel>
        <submitButtonText><![CDATA[Reset]]></submitButtonText>
        <formHeadingText><![CDATA[<h4>Reset your password.</h4>]]></formHeadingText>
      </resetPassword>
    </cRM>
    <errors id="1683" key="8d51aeb0-558b-4c3b-95b7-f6054bf74323" parentID="1052" level="2" creatorID="0" sortOrder="8" createDate="2016-06-27T17:32:03" updateDate="2016-06-28T06:34:41" nodeName="Errors" urlName="errors" path="-1,1052,1683" isDoc="" nodeType="1678" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="errors">
      <umbracoNaviHide>1</umbracoNaviHide>
      <pageNotFound id="1686" key="a2fbb20b-369b-4634-bd51-69fd7696a66c" parentID="1683" level="3" creatorID="0" sortOrder="0" createDate="2016-06-27T18:05:51" updateDate="2016-06-28T06:34:41" nodeName="404" urlName="404" path="-1,1052,1683,1686" isDoc="" nodeType="1679" creatorName="admin" writerName="admin" writerID="0" template="1688" nodeTypeAlias="pageNotFound">
        <description><![CDATA[<div><img id="404img" src="/images/404.png" alt="404 Page not found" />
<div id="pendulum"><img id="draad" src="/images/draad.png" alt="draad" /></div>
<p>The page you're looking is not available<br />Go back to <a href="/">Home Page</a></p>
</div>]]></description>
        <umbracoNaviHide>0</umbracoNaviHide>
      </pageNotFound>
    </errors>
  </home>
  <siteData id="1396" key="208d3822-c01b-4d5f-aaf1-59f3338f7b2f" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-05-26T17:39:12" updateDate="2016-05-26T18:57:01" nodeName="SiteData" urlName="sitedata" path="-1,1396" isDoc="" nodeType="1051" creatorName="admin" writerName="admin" writerID="0" template="1050" nodeTypeAlias="siteData" />
</root>