<footer class="colophon top" >
   
</footer>
<footer class="colophon bottom">
    <div class="x-container max width">

        <div class="social-global"><a href="https://www.facebook.com/Willing-to-Join-Wensel-Family-564339736992329/" class="facebook" title="Facebook" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></div>

        <ul id="menu-base-2" class="nav">
            <li class=""><a href="http://www.willingtojoin.org/">Home</a></li>
            <li class=""><a href="http://www.willingtojoin.org/church-planting/">Church Planting</a></li>
            <li class=""><a href="http://www.willingtojoin.org/animal-health-care/">Animal Health Care</a></li>
            <li class=""><a href="http://www.willingtojoin.org/photo-galleries/">Photo Galleries</a></li>
            <li class=""><a href="http://www.willingtojoin.org/support-us/">Support Us</a></li>
            <li class=""><a href="http://www.willingtojoin.org/50-50/">50-50</a></li>
            <li class=""><a href="http://www.willingtojoin.org/about-us/">About Us</a></li>
            <li class=""><a href="http://www.willingtojoin.org/contact-us/">Contact Us</a></li>
        </ul>
      

    </div>
</footer>