@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Mvc.Html
@{
	Layout = "Layout.cshtml";
}

<div id="x-content-band-1" class="x-content-band vc border-bottom" style="background-color: transparent; padding-top: 0px; padding-bottom: 0px;">
    <div class="x-container wpb_row">
        <div class="x-column x-sm vc x-1-1" style="">
            <h5 style="text-align: center;">
                @CurrentPage.pageSubHeading
            </h5>
        </div>
    </div>
</div>

<div id="x-content-band-2" class="x-content-band vc" style="background-color: transparent; padding-top: 0px; padding-bottom: 0px;">
    <div class="x-container wpb_row">
        <div class="x-column x-sm vc x-1-1"></div>
    </div>
</div>

<p></p><div class="ngg-galleryoverview ngg-ajax-pagination-none" id="ngg-gallery-55b981921f65370d023409d0c5e7622a-1">

    <div class="slideshowlink">
        <a href="http://www.willingtojoin.org/photo-galleries/nggallery/around-arusha/around-arusha/slideshow">[Show slideshow]</a>
    </div>
    <!-- Thumbnails -->
    @Html.Partial("_GalleryImages")
    <!-- Pagination -->
    <div class="ngg-clear"></div>
</div>
@section css{
<link rel='stylesheet' id='fancybox-0-css' href='/css/jquery.fancybox-1.3.4.min.css' type='text/css' media='all' />
<link rel="stylesheet" href="/css/nextgen_basic_thumbnails.min.css" type="text/css" media="screen" />
<link rel='stylesheet' id='ngg_trigger_buttons-css' href='/css/trigger_buttons.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='fancybox-0-css' href='/css/jquery.fancybox-1.3.4.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='fontawesome-css' href='/css/font-awesome.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='nextgen_basic_album_style-css' href='/css/nextgen_basic_album.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='nextgen_pagination_style-css' href='/css/style.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='nextgen_basic_thumbnails_style-css' href='/css/nextgen_basic_thumbnails.min.css' type='text/css' media='all' />
<style>
        .ngg-gallery-thumbnail:hover {
            background: gray;
        }

        .ngg-gallery-thumbnail {
            float: left;
            text-align: center;
            padding: 4px;
            border: 1px solid #a9a9a9;
        }
            .ngg-gallery-thumbnail img {
                border: 0 !important;
                margin: 0 !important;
                padding: 0 !important;
            }
        .ngg-gallery-thumbnail-box {
            float: left;
            margin-right: 8px;
            margin-bottom: 8px;
        }
        a.ngg-fancybox {
            width: 240px;
            height: 148px;
            overflow: hidden;
            display: block;
        }
        .ngg-gallery-thumbnail img:hover {
            background-color: none !important;
        }
        .ngg-gallery-thumbnail:hover {
            background: #a9a9a9;
        }
    </style>
}
@section js{
<script type='text/javascript' src='/scripts/core.mine899.js'></script>
<script type='text/javascript' src='/scripts/widget.mine899.js'></script>
<script type='text/javascript' src='/scripts/mouse.mine899.js'></script>
<script type='text/javascript' src='/scripts/resizable.mine899.js'></script>
<script type='text/javascript' src='/scripts/draggable.mine899.js'></script>
<script type='text/javascript' src='/scripts/button.mine899.js'></script>
<script type='text/javascript' src='/scripts/position.mine899.js'></script>
<script type='text/javascript' src='/scripts/dialog.mine899.js'></script>
<script type='text/javascript' src='/scripts/wpdialog.min3428.js'></script>
<script type='text/javascript' src='/scripts/jquery.form.mind03d.js'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var _wpcf7 = { "loaderUrl": "http:\/\/www.willingtojoin.org\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif", "recaptchaEmpty": "Please verify that you are not a robot.", "sending": "Sending ..." };
    /* ]]> */
</script>
<script type='text/javascript' src='/scripts/scriptseb11.js'></script>
<script type='text/javascript' src='/scripts/x-body.minb2f9.js'></script>
<script type='text/javascript' src='/scripts/comment-reply.min3428.js'></script>
<script type='text/javascript' src='/scripts/cs-body.min0ba6.js'></script>
<script type='text/javascript' src='/scripts/wp-embed.min3428.js'></script>
<script type='text/javascript' src='/scripts/js_composer_fronta288.js'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var photocrati_ajax = { "url": "http:\/\/www.willingtojoin.org\/?photocrati_ajax=1", "wp_home_url": "http:\/\/www.willingtojoin.org", "wp_site_url": "http:\/\/www.willingtojoin.org", "wp_root_url": "http:\/\/www.willingtojoin.org", "wp_plugins_url": "http:\/\/www.willingtojoin.org\/wp-content\/plugins", "wp_content_url": "http:\/\/www.willingtojoin.org\/wp-content", "wp_includes_url": "http:\/\/www.willingtojoin.org\/wp-includes\/", "ngg_param_slug": "nggallery" };
    /* ]]> */
</script>
<script type='text/javascript' src='/scripts/ajax.min3428.js'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var galleries = {};
    galleries.gallery_526 = { "ID": 526, "post_password": "", "menu_order": 0, "display_settings": { "use_lightbox_effect": true, "galleries_per_page": "8", "enable_breadcrumbs": "0", "disable_pagination": 0, "template": "", "gallery_display_type": "photocrati-nextgen_basic_thumbnails", "gallery_display_template": "", "ngg_triggers_display": "never", "override_thumbnail_settings": "0", "thumbnail_width": "240", "thumbnail_height": "160", "thumbnail_crop": "0" }, "order_by": "sortorder", "order_direction": "ASC", "exclusions": [], "container_ids": [1, 3, 4, 5, 6, 7, 8], "excluded_container_ids": [], "sortorder": [], "entity_ids": [], "returns": "included", "maximum_entity_count": 500, "source": "albums", "display_type": "photocrati-nextgen_basic_compact_album", "slug": null, "id_field": "ID", "__defaults_set": true };
    galleries.gallery_526.wordpress_page_root = "around-arusha.html\/\/www.willingtojoin.org\/photo-galleries\/";
    var nextgen_lightbox_settings = { "static_path": "http:\/\/www.willingtojoin.org\/wp-content\/plugins\/nextgen-gallery\/products\/photocrati_nextgen\/modules\/lightbox\/static", "context": "nextgen_images" };
    galleries.gallery_55b981921f65370d023409d0c5e7622a = { "id": null, "source": "galleries", "container_ids": [2], "gallery_ids": [], "album_ids": [], "tag_ids": [], "display_type": "photocrati-nextgen_basic_thumbnails", "exclusions": [], "order_by": "sortorder", "order_direction": "ASC", "image_ids": [], "entity_ids": [], "tagcloud": false, "inner_content": true, "returns": "included", "slug": null, "display_settings": { "use_lightbox_effect": true, "images_per_page": "20", "number_of_columns": 0, "thumbnail_width": 240, "thumbnail_height": 160, "show_all_in_lightbox": 0, "ajax_pagination": 0, "use_imagebrowser_effect": 0, "template": "", "display_no_images_error": 1, "disable_pagination": 0, "show_slideshow_link": 1, "slideshow_link_text": "[Show slideshow]", "override_thumbnail_settings": 0, "thumbnail_quality": "100", "thumbnail_crop": 1, "thumbnail_watermark": 0, "ngg_triggers_display": "never", "original_display_type": "photocrati-nextgen_basic_compact_album", "original_settings": { "use_lightbox_effect": true, "galleries_per_page": "8", "enable_breadcrumbs": "0", "disable_pagination": 0, "template": "", "gallery_display_type": "photocrati-nextgen_basic_thumbnails", "gallery_display_template": "", "ngg_triggers_display": "never", "override_thumbnail_settings": "0", "thumbnail_width": "240", "thumbnail_height": "160", "thumbnail_crop": "0" }, "original_album_entities": [{ "id": 1, "name": "Gallery People", "slug": "people", "previewpic": 111, "albumdesc": "", "sortorder": [], "pageid": 0, "extras_post_id": 375, "id_field": "id", "exclude": 0, "__defaults_set": true }, { "id": 3, "name": "Around Arusha", "slug": "around-arusha", "previewpic": 1, "albumdesc": "", "sortorder": ["2"], "pageid": 0, "extras_post_id": 482, "id_field": "id", "exclude": 0, "__defaults_set": true }, { "id": 4, "name": "Landscape", "slug": "landscape", "previewpic": 111, "albumdesc": "", "sortorder": ["5"], "pageid": 0, "extras_post_id": 484, "id_field": "id", "exclude": 0, "__defaults_set": true }, { "id": 5, "name": "Child Sponsorship and Wild", "slug": "child-sponsorship-and-wild", "previewpic": 68, "albumdesc": "", "sortorder": ["3"], "pageid": 0, "extras_post_id": 486, "id_field": "id", "exclude": 0, "__defaults_set": true }, { "id": 6, "name": "Wildlife", "slug": "wildlife", "previewpic": 167, "albumdesc": "", "sortorder": ["7"], "pageid": 0, "extras_post_id": 488, "id_field": "id", "exclude": 0, "__defaults_set": true }, { "id": 7, "name": "Domestic Animal", "slug": "domestic-people", "previewpic": 1, "albumdesc": "", "sortorder": ["4"], "pageid": 0, "extras_post_id": 490, "id_field": "id", "exclude": 0, "__defaults_set": true }, { "id": 8, "name": "Training Center", "slug": "training-center", "previewpic": 143, "albumdesc": "", "sortorder": ["6"], "pageid": 0, "extras_post_id": 492, "id_field": "id", "exclude": 0, "__defaults_set": true }] }, "excluded_container_ids": [], "sortorder": [], "maximum_entity_count": 500, "__defaults_set": true, "_errors": [], "ID": "55b981921f65370d023409d0c5e7622a" };
    galleries.gallery_55b981921f65370d023409d0c5e7622a.wordpress_page_root = "around-arusha.html\/\/www.willingtojoin.org\/photo-galleries\/";
    var nextgen_lightbox_settings = { "static_path": "http:\/\/www.willingtojoin.org\/wp-content\/plugins\/nextgen-gallery\/products\/photocrati_nextgen\/modules\/lightbox\/static", "context": "nextgen_images" };
    /* ]]> */
</script>
<script type='text/javascript' src='/scripts/common.mina455.js'></script>
<script type='text/javascript' src='/scripts/init.min3428.js'></script>
<script type='text/javascript' src='/scripts/lightbox_context.min.js'></script>
<script type='text/javascript' src='/scripts/jquery.easing-1.3.pack.js'></script>
<script type='text/javascript' src='/scripts/jquery.fancybox-1.3.4.pack.js'></script>
<script type='text/javascript' src='/scripts/nextgen_fancybox_init.min.js'></script>
<script type='text/javascript' src='/scripts/jquery.dotdotdot-1.5.7-packed3428.js'></script>
<script type='text/javascript' src='/scripts/nextgen_basic_thumbnails.min3428.js'></script>
}



