@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Mvc.Html
@{
	Layout = "Layout.cshtml";
}
<div id="x-content-band-1" class="x-content-band vc border-bottom" style="background-color: transparent; padding-top: 0px; padding-bottom: 0px;">
    <div class="x-container wpb_row">
        <div class="x-column x-sm vc x-1-1" style="">
            <h5 style="text-align: center;">@CurrentPage.pageSubHeading</h5>
        </div>
    </div>
</div>

<div id="x-content-band-2" class="x-content-band vc" style="background-color: transparent; padding-top: 0px; padding-bottom: 0px;">
    <div class="x-container wpb_row">
        <div class="x-column x-sm vc x-1-1" style=""></div>
    </div>
</div>

<div class="ngg-albumoverview" style="opacity: 1;">
    @Html.Partial("_GalleryList")
    <br class="ngg-clear">
    <div class="ngg-clear"></div>
</div>
@section css{
    <link rel="stylesheet" href="/css/nextgen_basic_album.min.css" type="text/css" media="screen" />
    <style>
        .ngg-album-link {
            height: 63px;
            overflow: hidden;
        }
    </style>
}
