@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Layout.cshtml";
}
@if (CurrentPage.HasValue("pageSubHeading")) { 
<div id="x-content-band-1" class="x-content-band vc border-bottom" style="background-color: transparent; padding-top: 0px; padding-bottom: 0px;">
    <div class="x-container wpb_row">
        <div class="x-column x-sm vc x-1-1" style="">
            <h5 class="text-center">@CurrentPage.pageSubHeading</h5>
        </div>       
    </div>
</div>
}
<div id="x-content-band-2" class="x-content-band vc" style="background-color: transparent; padding-top: 0px; padding-bottom: 0px;">
    <div class="x-container wpb_row">
        <div class="x-column x-sm vc x-1-2">
            @CurrentPage.leftColumn
        </div>
        <div class="x-column x-sm vc x-1-2">
            <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                <div class="wpb_wrapper">
                    @CurrentPage.rightColumn
                </div>
            </div>
        </div>
    </div>
</div>
<div id="x-content-band-3" class="x-content-band vc" style="background-color: transparent; padding-top: 0px; padding-bottom: 0px;">
    <div class="x-container wpb_row">
        @CurrentPage.bottomPart
    </div>
    

</div>