@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    var HomePage = Umbraco.TypedContentAtRoot().Where(x => x.DocumentTypeAlias == "home").SingleOrDefault();
    if (HomePage.GetProperty("sliderImages").HasValue){
        var slideImageList = HomePage.GetProperty("sliderImages").Value.ToString().Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
        var slideImage = Umbraco.TypedMedia(slideImageList).Where(x => x != null);
        var rs = 2;
        
        <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.1.4">
            <ul>
                @foreach (var slide in slideImage)
                {
                     <li data-index="rs-@rs" data-transition="fade" data-slotamount="7" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="@slide.Url" data data-rotate="0" data-saveperformance="off" data-title="Slide">
                       
                         <img src="@slide.Url" alt="" width="960" height="320" data-lazyload="@slide.Url" data data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                        
                    </li>
                    rs++;
                }
            </ul>
        </div>
    }
}