
@{
    ViewBag.Title = "Church Planting";
}
<div class="site">
    <div class="row">
        <div class="col-sm-12">
            <header class="header-landmark">
                <div class="max">
                    <h2>Church Planting</h2>
                </div>
            </header>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="max border-bottom">
                <h5 style="text-align: center;">
                    <span style="color: #000000;">
                        <span class="">
                            <sup class="">&nbsp;</sup>Then Jesus came to them and said, <span class="">“All authority in heaven and on earth has been given to me.&nbsp;</span>
                        </span>
                        <span class="">
                            <span class="">
                                Therefore go and make disciples of all nations,baptizing them in the name of the Father and of the Son and of the Holy Spirit,
                                <span style="font-size: 11.0667px; line-height: 16.6px;">&nbsp;</span>
                            </span>
                        </span>
                        <span class="">
                            <span class="">and teaching them to obey everything I have commanded you. And surely I am with you always, to the very end of the ages.”</span>
                        </span>
                    </span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;(Matthew 28:18-20, NIV)
                </h5>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="max row">
                <div class="col-sm-6 pl0">
                    <img src="~/Content/images/ChurchPlanting-255x255.png" class="x-img pull-right" />
                    <div>
                        <p><strong><span style="color: #000000;">What we do…</span></strong></p>
                        <p><em><span style="color: #000000;">Share Christ’s love through multiplying church movements</span></em></p>
                        <p><span style="color: #000000;">We will be working with a Christian Missionary Fellowship (CMF) church planter training team in Arusha, Tanzania. They train Tanzanian Christian nationals to plant churches and start multiplying church movements within&nbsp;unreached people groups.&nbsp;They implement self-sustainable methods to promote knowledge of Christ’s love and discipleship.</span></p>
                    </div>
                </div>
                <div class="col-sm-6 pr0">                    
                    <iframe src="https://player.vimeo.com/video/109136220?title=0&amp;byline=0&amp;portrait=0" width="100%" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe> 
                    <p>Church Planter Training from <a href="https://vimeo.com/user30584060">Willing To Join</a> on <a href="https://vimeo.com">Vimeo</a>.</p>                       
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="max">               
                <img class="x-img x-img-rounded" src="~/Content/images/cmflogo-100x48.png" />
                <a class="x-btn" href="http://www.cmfi.org/wherewework/tanzania/" title="" target="_blank">Read more about our CMF Team in Arusha, Tanzania.</a>            
            </div>
        </div>
    </div>
</div>


