
@{
    ViewBag.Title = "Animal Health Care";
}

<div class="site">
    <div class="row">
        <div class="col-sm-12">
            <header class="header-landmark">
                <div class="max">
                    <h2>Animal Health Care</h2>
                </div>
            </header>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="max border-bottom">
                <h5 style="text-align: center;">“Come to Me, all you who labor and are heavy laden, and I will give you rest. Take My yoke upon you and learn from Me, for I am gentle and lowly in heart, and you will find rest for your souls. For My yoke is easy and My burden is light.” &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (Matthew 11:28-30, NIV)</h5>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="max row">
                <div class="col-sm-6 pl0">
                    <img src="~/Content/images/AnimalHealthCare-255x255.png" class="x-img pull-right" />
                    <div>
                        <p><strong><span style="color: #000000;">What we do…</span></strong></p>
                        <p><span style="color: #000000;"><em>Establish sustainable CAHW training</em></span></p>
                        <p><span style="color: #000000;">Community Animal Health Workers (CAHW) will be trained and discipled. National church planters will have the additional skills of increasing herd health as a way of ministering to and reaching the unreached for the glory of God. Current CHE teams will be trained in herd health to expand their current ministries to reach the unreached for the glory of God. New churches will be planted and believers disciple.&nbsp; These will then train others to do the same in surrounding areas.</span></p>
                        <p><span style="color: #000000;"><em>Improve livestock health</em></span></p>
                        <p><span style="color: #000000;">By giving herdspeople the skills and knowledge needed to improve the overall health of their herds, we intend to minister in a holistic manner.&nbsp; The animals will be healthier, thus improving the physical and economic health of the families.&nbsp; The church planters will have additional openings into the lives of the unreached people, giving them additional opportunities to impact their spiritual health.&nbsp;&nbsp;</span></p>
                    </div>
                </div>
                <div class="col-sm-6 pr0">
                    <iframe src="https://player.vimeo.com/video/109136220?title=0&amp;byline=0&amp;portrait=0" width="100%" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                    <p>Church Planter Training from <a href="https://vimeo.com/user30584060">Willing To Join</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="max">
                <img  class="x-img x-img-rounded" src="~/Content/images/image001.png" />
                <a class="x-btn" href="http://www.cmfi.org/wherewework/tanzania/" title="" target="_blank">Read more about Christian Veterinary Mission</a>
            </div>
        </div>
    </div>
</div>
