@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Gallery Photos";
}

<div class="site">
    <div class="row">
        <div class="col-sm-12">
            <header class="header-landmark">
                <div class="max">
                    <h2>Photo Galleries</h2>
                </div>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="max row">
                @* album1 *@
                <div class="galleryoverview" id="around-arusha">
                    <div class="slideshowlink">
                        <a href="#around-arusha-slideshow">[Show slideshow]</a>
                    </div>
                    <div id="image-0" class="gallery-thumbnail-box">
                        <div class="gallery-thumbnail">
                            <a href="~/Content/images/Arusha-intersection.JPG" title="">
                                <img title="Arusha intersection" alt="Arusha intersection" src="~/Content/images/thumbs_Arusha-intersection.JPG" width="240" height="160" style="max-width:none;">
                            </a>
                        </div>
                    </div>

                    <div id="image-1" class="gallery-thumbnail-box">
                        <div class="gallery-thumbnail">
                            <a href="~/Content/images/Arusha-outskirts-2.JPG" title="">
                                <img title="Arusha outskirts 2" alt="Arusha outskirts 2" src="~/Content/images/thumbs_Arusha-outskirts-2.JPG" width="240" height="160" style="max-width:none;">
                            </a>
                        </div>
                    </div>

                    <div id="image-2" class="gallery-thumbnail-box">
                        <div class="gallery-thumbnail">
                            <a href="~/Content/images/Arusha-outskirts-market.JPG" title="">
                                <img title="Arusha outskirts market" alt="Arusha outskirts market" src="~/Content/images/thumbs_Arusha-outskirts-market.JPG" width="240" height="160" style="max-width:none;">
                            </a>
                        </div>
                    </div>

                    <div id="image-3" class="gallery-thumbnail-box">
                        <div class="gallery-thumbnail">
                            <a href="~/Content/images/Arusha-outskirts-ready-made-market.JPG" title="">
                                <img title="Arusha outskirts ready-made market" alt="Arusha outskirts ready-made market" src="~/Content/images/thumbs_Arusha-outskirts-ready-made-market.JPG" width="240" height="160" style="max-width:none;">
                            </a>
                        </div>
                    </div>

                    <div id="image-4" class="gallery-thumbnail-box">
                        <div class="gallery-thumbnail">
                            <a href="~/Content/images/Arusha-outskirts-traffic-jam-2.JPG" title="">
                                <img title="Arusha outskirts traffic jam 2" alt="Arusha outskirts traffic jam 2" src="~/Content/images/thumbs_Arusha-outskirts-traffic-jam-2.JPG" width="240" height="160" style="max-width:none;">
                            </a>
                        </div>
                    </div>

                    <div id="image-5" class="gallery-thumbnail-box">
                        <div class="gallery-thumbnail">
                            <a href="~/Content/images/Arusha-outskirts-traffic-jam.JPG" title="">
                                <img title="Arusha outskirts traffic jam" alt="Arusha outskirts traffic jam" src="~/Content/images/thumbs_Arusha-outskirts-traffic-jam.JPG" width="240" height="160" style="max-width:none;">
                            </a>
                        </div>
                    </div>

                    <div id="image-6" class="gallery-thumbnail-box">
                        <div class="gallery-thumbnail">
                            <a href="~/Content/images/IMG_5548.JPG" title="">
                                <img title="IMG_5548" alt="IMG_5548" src="~/Content/images/thumbs_IMG_5548.JPG" width="240" height="160" style="max-width:none;">
                            </a>
                        </div>
                    </div>
                </div>
                @* album1 *@
                <div class="galleryoverview" id="landscape"></div>
                @* album1 *@
                <div class="galleryoverview" id="child-sponsorship"></div>
                @* album1 *@
                <div class="galleryoverview" id="wildlife"></div>
                @* album1 *@
                <div class="galleryoverview" id="domestic-animals"></div>
                @* album1 *@
                <div class="galleryoverview" id="training-center"></div>
            </div>
        </div>
    </div>
  
    </div>