
@{
    ViewBag.Title = "Photo Galleries";
}

<div class="site">
    <div class="row">
        <div class="col-sm-12">
            <header class="header-landmark">
                <div class="max">
                    <h2>Photo Galleries</h2>
                </div>
            </header>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="max border-bottom">
                <h5 style="text-align: center;">“How many are your works, Lord! In wisdom you made them all; the earth is full of your creatures. There is the sea, vast and spacious, teeming with creatures beyond number—living things both large and small.” (Psalm 104:24-25, NIV)</h5>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="max row">
                <div class="albumoverview">
                    <div class="album-compact">
                        <div class="album-compactbox">
                            <div class="album-link">
                                <a class="Link gallery_link" href="#around-arusha">
                                    <img class="Thumb" alt="Around Arusha" src="~/Content/images/Arusha-intersection.JPG-nggid011-ngg0dyn-91x68-00f0w010c011r110f110r010t010.JPG" />
                                </a>
                            </div>
                        </div>
                        <h4>
                            <a class="album-desc" title="Around Arusha" href="#around-arusha">
                                Around Arusha
                            </a>
                        </h4>
                        <p class="album-gallery-image-counter">
                            <strong>7</strong>&nbsp;Photos
                        </p>
                    </div>
                    
                    <div class="album-compact">
                        <div class="album-compactbox">
                            <div class="album-link">
                                <a class="Link gallery_link" href="#landscape">
                                    <img class="Thumb" alt="Landscape" src="~/Content/images/Acacia-tree.jpg-nggid03111-ngg0dyn-91x68-00f0w010c011r110f110r010t010.jpg" />
                                </a>
                            </div>
                        </div>
                        <h4>
                            <a class="album-desc" title="Landscape" href="#landscape">
                                Landscape
                            </a>
                        </h4>
                        <p class="album-gallery-image-counter">
                            <strong>32</strong>&nbsp;Photos
                        </p>
                    </div>

                    <div class="album-compact">
                        <div class="album-compactbox">
                            <div class="album-link">
                                <a class="Link gallery_link" href="#child-sponsorship">

                                    <img  class="Thumb" alt="Child Sponsorship and Widows"  src="~/Content/images/10255284_667235156697721_2205865688623711005_n.jpg-nggid0268-ngg0dyn-91x68-00f0w010c011r110f110r010t010.jpg" />
                                </a>
                            </div>
                        </div>
                        <h4>
                            <a class="album-desc" title="Child Sponsorship and Widows" href="#child-sponsorship">
                                Child Sponsorship... 
                            </a>
                        </h4>
                        <p class="album-gallery-image-counter">
                            <strong>26</strong>&nbsp;Photos
                        </p>
                    </div>
                    <div class="album-compact">
                        <div class="album-compactbox">
                            <div class="album-link">
                                <a class="Link gallery_link" href="#wildlife">
                                    <img  class="Thumb" alt="Wildlife" src="~/Content/images/Giraffe-babies_edited-1.jpg-nggid03167-ngg0dyn-91x68-00f0w010c011r110f110r010t010.jpg" /> 
                                </a>
                            </div>
                        </div>
                        <h4>
                            <a class="album-desc" title="Wildlife" href="#wildlife">
                                Wildlife
                            </a>
                        </h4>
                        <p class="album-gallery-image-counter">
                            <strong>24</strong>&nbsp;Photos
                        </p>
                    </div>

                    <div class="album-compact">
                        <div class="album-compactbox">
                            <div class="album-link">
                                <a class="Link gallery_link" href="#domestic-animals">
                                    <img class="Thumb" alt="Domestic Animals" src="~/Content/images/boysheep-500x394.png-nggid0294-ngg0dyn-91x68-00f0w010c011r110f110r010t010.png" />
                                </a>
                            </div>
                        </div>
                        <h4>
                            <a class="album-desc" title="Domestic Animals" href="#domestic-animals">
                                Domestic Animals
                            </a>
                        </h4>
                        <p class="album-gallery-image-counter">
                            <strong>17</strong>&nbsp;Photos
                        </p>
                    </div>

                    <div class="album-compact">
                        <div class="album-compactbox">
                            <div class="album-link">
                                <a class="Link gallery_link" href="#training-center">
                                    <img  class="Thumb" alt="Training Center" src="~/Content/images/966706_518173561551050_2067333338_o.jpg-nggid03143-ngg0dyn-91x68-00f0w010c011r110f110r010t010.jpg" />
                                </a>
                            </div>
                        </div>
                        <h4>
                            <a class="album-desc" title="Training Center" href="#training-center">
                                Training Center
                            </a>
                        </h4>
                        <p class="album-gallery-image-counter">
                            <strong>24</strong>&nbsp;Photos
                        </p>
                    </div>


                </div>
            </div>
        </div>

     
        
    </div>
</div>
@*<script type="text/javascript">
    $(document).ready(function () {
        $('.Link.gallery_link').click(function () {
            var href = $(this).attr('href');
            //if (href.charAt(0) === '#')
            //    href = href.slice(1);
            //console.log(href);
            $('href').show();
        });
    });
</script>*@